<div class="container pad-v-2x">
    <div class="flex margin-bottom-2x justify-content-between">
        <h1>MDArea</h1>
        <div>
            <a href="https://github.com/bemky/mdarea" class="uniformButton">
                <span class="flex align-center space-h-xs">
                    <svg height="24" width="24" aria-hidden="true" viewBox="0 0 16 16" version="1.1" >
                        <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                    </svg>
                    <span>
                        Github
                    </span>
                </span>
            </a>
        </div>
    </div>
    
    <p class="text-xl text-light margin-v">
        MDArea is a <code>textarea</code> augmentation that adds a toolbar and keyboard shortcuts to any textarea to turn it into a lightweight markdown editor.
    </p>
    
    <textarea rows="10" class="width-full pad uniformInput rounded border-gray-40" placeholder="Markdown goes in here">
### SpaceX
**Space Exploration Technologies Corp. (SpaceX)** is an American aerospace manufacturer, space transportation services and communications corporation headquartered in Hawthorne, California. SpaceX was founded in 2002 by [Elon Musk](https://en.wikipedia.org/wiki/Elon_Musk) with the goal of reducing space transportation costs to enable the colonization of Mars. SpaceX:
- manufactures the Falcon 9 and Falcon Heavy launch vehicles
- several rocket engines
- Dragon cargo amd crew spacecraft
- Starlink communications satellites.
    </textarea>
    
    <div class="margin-v-2x">
        <h2>Installation</h2>
        <p>Install via NPM</p>
        <% code('bash') do %>
            npm install github:bemky/mdarea;
        <% end %>
    </div>
    
    <div class="margin-v-2x">
        <h2>Import and Initialize</h2>
        <% code('js') do %>
            import MDArea from 'mdarea';
    
            new MDArea(document.querySelector('textarea'));
        <% end %>
        <p class="margin-top">
            MDArea will also render it's own textarea if not given one. Instead it can take an object where each key is an attribute of the textarea.
        </p>
        <% code('js') do %>
            import MDArea from 'mdarea';

            const area = new MDArea({
                name: "building[details]",
                rows: 10,
                class: "uniformInput"
            });
            document.append(area.el);
        <% end %>
    </div>
    
    <div class="margin-v-2x">
        <h2>Style</h2>
        The MDArea will take on the style of the textarea. It reads the style attributes on render and applies attributes via CSS variables.
        
        <div class="flex space-h">
            <div class=" width-1/2">
                <textarea class="example-1" rows="8">Styled textarea</textarea>
            </div>
            <div class=" width-1/2">
                <% code('html') do %>
                <textarea class="example-1" rows="8">Styled textarea</textarea>
                <% end %>
                <br>
                <% code('css') do %>
                .example-1 {
                    background: rgba(240, 237, 255, 1.000);
                    border-radius: 0.75em;
                    border-color: rgba(223, 199, 255, 1.000);
                    color: rgba(108, 51, 186, 1.000);
                    width: 100%;
                    padding: 2em;
                }
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="margin-top-2x pad-v text-right border-top border-gray-30 text-xs text-gray-50">
        &copy; 2021 Ben Ehmke 
    </div>
</div>